*{font-family:'Open Sans',sans-serif;font-size:1.4rem;box-sizing:border-box;}
html{font-size:62.5%;}
body{top:0;left:0;width:100%;margin:0;padding:0;color:#8e9092;font-size:10px;}
button::-moz-focus-inner,
select::-moz-focus-inner{border:0;padding:0;}
input[type=range]::-moz-focus-outer{border:0;}
a{color:#7f99ca;text-decoration:none;font-size:inherit;}
a:hover{color:#8cb8e8;border-bottom:0;}
h1,h2,h3,h4,h5,h6{color:#373737;font-weight:600;padding:0;margin:0 0 25px;}
h1{font-size:4rem;}
h2{font-size:3.2rem;}
p,
ol li{font-size:1.6rem;color:#8e9092;}
p{margin-bottom:25px;}
ul{list-style:none;margin:0;padding:0;}
ol li{margin-bottom:10px;padding-left:20px;}

.hidden.hidden.hidden{display:none;}
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.nowrap{white-space:nowrap;}
.break{word-break:break-all;}
.inline-block{display:inline-block;}
.text-center{text-align:center;}
.inner{position:relative;width:100%;max-width:1270px;margin:0 auto;}

ul.navigation{display:flex;line-height:5.2rem;margin:0 -20px;}
ul.navigation > li{display:inline-block;}
ul.navigation > li > *{display:inline-block;padding:0 20px;}
ul.navigation > li + li{border-left:1px solid rgba(255,255,255,.05);}

.menu-top{background-color:#2d2f31;line-height:2rem;}
.menu-top ul.navigation{color:#a2a2a2;}
.menu-top ul.navigation strong{color:white;}
.menu-top ul.navigation a{color:#a2a2a2;}
.menu-top ul.navigation a:hover{color:white;}
.menu-top ul.navigation > li{display:inline-block;}

.header-red{
	background-color: #9e4340;
	background-image: radial-gradient(ellipse farthest-side at center top,#bf514e 0,#9e4340 100%);
	color: #fbd2cf;
}
.header-red .center{
	padding:140px 0;
	text-align:center;
	max-width:620px;
	margin:auto;
}
.header-red .center h1{
	margin: 0 auto 22px;
	color:white;
}
.header-red .center h2{
	font-size:1.8rem;
	color:inherit;
	font-weight:normal;
}

section{
	padding-top:100px;
}
section h2{font-weight:normal;}

code {
	font-family: Consolas,Monaco,"Lucida Console",monospace;
	background-color: #3d4145;
	border: none;
	color: #d2d5dc;
	width: 100%;
	display: block;
	position: relative;
	padding: 28px 30px;
	display: inline-block;
	margin: 10px 0 0;
	overflow: hidden;
	border-radius: 3px;
	white-space: pre;
	word-break: break-word;
	word-wrap: break-word;
	overflow: hidden;
	width: 100%;
}

/* INI-Grid */
.grid{display:flex;margin:0 -8px 0 -8px;}
.grid > .row{display:flex;width:100%;flex-flow:row wrap;}
.grid > .row > *{display:inline-block;flex-grow:1;flex-basis:0;max-width:100%;min-width:0;margin:8px;}
.grid > .row > .col-1{flex-grow:1;}
.grid > .row > .col-2{flex-grow:2;}
.grid > .row > .col-3{flex-grow:3;}
.grid > .row > .col-4{flex-grow:4;}
.grid > .row > .col-5{flex-grow:5;}
.grid > .row > .col-6{flex-grow:6;}
.grid > .row > .col-7{flex-grow:7;}
.grid > .row > .col-8{flex-grow:8;}
.grid > .row > .col-9{flex-grow:9;}
.grid > .row > .col-10{flex-grow:10;}
.grid > .row > .col-11{flex-grow:11;}
.grid.grid-is-tablet > .row > *{flex-basis:unset;}
.grid.grid-is-tablet > .row > .col-tablet-4{flex-grow:4;width:calc(100% / 12 * 4 - 16px);}
.grid.grid-is-tablet > .row > .col-tablet-6{flex-grow:6;width:calc(100% / 12 * 6 - 16px);}
.grid.grid-is-phone  > .row > .col-phone-12{flex-grow:12;width:calc(100% - 16px);}
/* END-Grid */


/* INI-Two column */
.two-column{font-size:0;}
.two-column > section{display:inline-block;width:50%;vertical-align:top;}
.two-column > section:first-child{padding-right:5px;}
.two-column > section:last-child{padding-left:5px;}
.two-column > .column{display:inline-block;width:50%;vertical-align:top;}
.two-column > .column:first-child{padding-right:5px;}
.two-column > .column:last-child{padding-left:5px;}
@media(max-width:820px){
	.two-column > section{display:block;width:100%;padding-right:0;padding-left:0;}
	.two-column > .column{display:block;width:100%;padding-right:0;padding-left:0;}
	.two-column > .column:first-child{padding-right:0px;}
	.two-column > .column:last-child{padding-left:0px;}
}
/* END-Two column */

.textarea{border:1px solid #ccc;border-radius:4px;overflow:hidden;}
.textarea textarea{display:block;border:0;width:100%;padding:10px;background:#fafafa;box-shadow:inset 0 0 2px rgba(0,0,0,.2);}

.block-warning{background:#fffecc;padding:10px;border-radius:4px;}
.block-warning h3{color:#666;}


/* INI-buttons */
.btn{position:relative;display:inline-block;font-size:13px !important;line-height:15px !important;border:1px solid #9f9891;padding:2px 10px;border-radius:3px;color:#555 !important;cursor:default;box-shadow:0 0 2px rgba(0,0,0,.1);outline:0;background:linear-gradient(to bottom,#fefdfc 1px,#f8f5f4 50%,#f5f1f0 50%,#ece8e5);}
.btn:hover{text-decoration:none;color:#555 !important;}
.btn:active,.btn.active{background:linear-gradient(to bottom,#d3cbc1,#d3cbc1 1px,#d8d1c8 1px,#d8d1c8 2px,#ddd7ce 2px,#e2dad3 50%,#dad1ca 50%,#d3cac1);}
.btn.mini{padding:0 6px 0 6px;font-size:11px !important;}
.btn.disabled{color:#aaa !important;}
.btn.disabled:active,.btn.disabled.active{background:linear-gradient(to bottom,#fefdfc 1px,#f8f5f4 50%,#f5f1f0 50%,#ece8e5);}
.btn-group{font-size:0 !important;}
.btn-group.right{text-align:right;}
.btn-group .btn{border-radius:0;}
.btn-group .btn + .btn{border-left:0;}
.btn-group .btn:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.btn-group .btn:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px;}
input[type="text"],input[type="password"]{width:220px;height:20px;line-height:20px;color:#4c4c4c;padding:0 4px;font-size:12px;border:1px solid #a5a5a5;border-bottom:1px solid #b9b9b9;border-top:1px solid #929292;position:relative;border-radius:3px;box-shadow:inset 0 1px 4px rgba(66,66,66,.2),0 1px 0 rgba(255,255,255,.4);}
input[type="text"]:focus,input[type="password"]:focus{border:1px solid #cd5728;box-shadow:inset 0 0 2px rgba(205,87,40,.6),0 1px 0 rgba(255,255,255,.4);}
/* END-buttons */

/* INI-dropdown */
.dropdown-menu{display:none;position:absolute;width:400px;background:white;border:1px solid #aaa;z-index:100;border-radius:3px;box-shadow:0 0 2px rgba(0,0,0,.3);}
.dropdown-menu > li form > a{background:transparent;border:0;display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:20px;color:rgb(51,51,51);white-space:nowrap;text-align:left;font-size:12px;font-family:Arial !important;}
.dropdown-menu > li form > a:hover, .dropdown-menu > li form > a:focus{color:#fff;text-decoration:none;background-color:rgb(0,129,194);background-image:linear-gradient(to bottom,rgb(0,136,204),rgb(0,119,179));background-repeat:repeat-x;}
.dropdown-menu.padded{padding:10px;}
.dropdown-menu.padded .calendar{margin:20px 0;}
.dropdown-menu p{font-size:11px;color:#999;}
.dropdown-menu p + form{margin-top:8px;}
.dropdown-menu p + .btn-group{margin-top:8px;}
/* END-dropdown */

/* INI-tabs */
.tabs{position:relative;font-size:0;/*border-bottom:1px solid #ddd;*/}
.tabs::before{position:absolute;bottom:0;width:100%;border-bottom:1px solid #ddd;content:"";}
.tabs .tab{display:inline-block;position:relative;font-size:13px;cursor:pointer;}
.tabs .tab > a,
.tabs .tab > .label{display:block;padding:9px 14px 8px 14px;margin:0;color:#fbd2cf;}
.tabs .tab.active{background:white;border:1px solid #ddd;border-bottom:0;color:#333;border-top:0;}
.tabs .tab.active::before{position:absolute;border-top:2px solid #ff6e1f;width:calc(100% + 2px);content:"";top:-2px;left:-1px;}
.tabs .tab.active > a,.tabs .tab.active > .label{color:#373737;}
.tabs .tab + .tab{margin-left:8px;}
.tabs .tab > .label > span > .label{padding-top:0;padding-bottom:0;}
.tabs + .wrapper{margin-top:20px;}
.tabs + section{border-top:0px;}
.tabs + .two-column > .column > section:first-child{border-top:0px;}
.tabs .tab.disabled{color:#ccc;cursor:not-allowed;}
.widget-tabs{}
.widget-tabs ul.tabs{white-space:nowrap;max-width:100%;}
.widget-tabs ul.tabs > .tab{}
.widget-tabs .tabs-content{}
.widget-tabs .tabs-content > div{display:none;}
.widget-tabs .tabs-content > div > div.textarea > textarea{max-width:100%;width:100%;min-height:250px;}
.widget-tabs .tabs-content > div.active{display:block;padding:6px;background:white;border:1px solid #ddd;border-top:0;}
.widget-tabs .tabs-content > div.active > h4{margin-top:6px;}
.widget-tabs + .btn-group{margin-top:10px;}
/* END-tabs */

/* INI-Table */
ul.table{display:table;position:relative;width:100%;margin:10px 0;color:#888;border-bottom:1px solid #e2e7e7;}
ul.table:empty{display:none;}
ul.table.fixed{table-layout:fixed;}
ul.table.align-top li > div{vertical-align:top;}
ul.table > li{display:table-row;position:relative;background:white;}
ul.table > li:not(.hidden):nth-child(2n+1){background:#f7f7f7;}
ul.table > li.disabled{color:#aaa;}
ul.table > li.disabled a{opacity:.8;}
ul.table > li.disabled > div > a,
ul.table > li.disabled > div > div.dropdown-toggle > a{color:#aaa;}
ul.table > li.disabled > div > img{opacity:.3;}
ul.table > li.disabled > div > div.node > .image{opacity:.3;}
ul.table > li.hidden{display:none;}
ul.table > li.header{background:#f4f7f8;box-shadow:0 1px 0 rgba(0,0,0,.1);}
ul.table > li.header > div{color:#666;background:linear-gradient(to bottom,#fff 0,#fff 1px,#f4f7f8 1px);border-bottom:1px solid #b4b4b4;border-top:1px solid #ccc;}
ul.table > li > div{display:table-cell;padding:8px 16px;vertical-align:middle;border-top:1px solid #e2e7e7;border-left:1px solid #e2e7e7;}
ul.table > li > div:last-child{border-right:1px solid #e2e7e7;}
ul.table > li > div:first-child > img{display:block;}
ul.table > li > div.right{text-align:right;}
ul.table > li > div > input[type="text"],
ul.table > li > div > input[type="password"],
ul.table > li > div > textarea{max-width:none;}
ul.table > li > div > p:last-child{margin-bottom:0;}
ul.table > li > div > select{min-width:100%;}
ul.table > li.child{color:#aaa;}
ul.table > li.child > div{border-top:1px dotted #e2e7e7;border-left:1px dotted #e2e7e7;}
ul.table > li.child > div:first-child{position:relative;padding-left:24px;}
ul.table > li.child > div:first-child::before{display:inline-block;position:absolute;top:0;left:9px;/*left:calc(50% - 2px);*/content:"\00a0";width:10px;height:50%;border-bottom:1px dotted #ff8a66;}
ul.table > li.child > div:first-child::after{display:inline-block;position:absolute;top:0;left:9px;/*left:calc(50% - 2px);*/content:"\00a0";width:0;height:100%;border-right:1px dotted #ff8a66;}
ul.table > li.child:not(.hidden) + li:not(.child) > div{border-top:2px solid #c2c7c7;}
ul.table div.fit{width:1px;}
/* END-Table */

/* INI-widget-list */
.widget-list{margin:10px 0;}
.widget-list > ul.table{margin:0;}
.widget-list > .node{padding:6px;position:relative;}
.widget-list > .node + .node{margin:0;}
.widget-list > .item{}
.widget-list > .item.active{background:#7f99ca;color:white;}
.widget-list > .item.selected::before{position:absolute;width:14px;height:14px;top:calc( 50% - 7px );left:6px;font-family:FontAwesome;font-size:14px;content:"\f111";}
.widget-list > .item.checked::before{position:absolute;width:14px;height:14px;top:calc( 50% - 7px );left:6px;font-family:FontAwesome;font-size:14px;content:"\f00c";}
.widget-list .item input[type="checkbox"],
.widget-list .item input[type="radio"]{display:none;}
/* END-widget-list */

/* INI-widget-scroll */
.widget-scroll{position:relative;}
.widget-scroll > .widget-scroll-panel{display:inline-block;padding-right:10px;}
.widget-scroll > .widget-scroll-bar{position:absolute;top:0;right:0;background:rgba(170,170,170,.4);width:6px;height:50%;border-radius:2px;}
/* END-widget-scroll */

/* INI-widget-vote */
.widget-vote{position:relative;height:20px;}
.widget-vote progress{display:inline-block;position:absolute;height:7px;border:0;width:100%;font-size:0;margin-top:2px;}
.widget-vote progress::-moz-progress-bar{border-radius:5px/50%;height:100%;background:#f2ae43;}
.widget-vote progress[value="0"]::-moz-progress-bar{border:0;}
.widget-vote progress::-webkit-progress-bar{display:inline-block;position:relative;width:100%;height:100%;border:0;border-radius:2px/50%;background:#f4f4f4;}
.widget-vote progress::-webkit-progress-value{border-radius:2px/50%;height:100%;background:#f2ae43;}
.widget-vote progress[value="0"]::-webkit-progress-bar{border:0;}
.widget-vote input[type="range"]{display:inline-block;position:absolute;-webkit-appearance:none;width:100%;height:10px;background:transparent;outline:0;}
.widget-vote input[type="range"]::-webkit-slider-thumb{-webkit-appearance:none;border:3px solid #fff;height:10px;width:10px;border-radius:50%;background:#bdbdbd;cursor:pointer;box-shadow:0 0 0 2px #f2ae43;}
.widget-vote input[type="range"]::-webkit-slider-runnable-track{-webkit-appearance:none;width:100%;height:1px;margin-bottom:10px;cursor:pointer;background:transparent;}
.widget-vote input[type="range"]::-moz-range-thumb{height:2px;width:2px;border:0;border-radius:50%;background:#bdbdbd;cursor:pointer;box-shadow:0 0 0 1px #bdbdbd,0 0 0 4px #fff,0 0 0 6px #f2ae43;}
.widget-vote input[type="range"]::-moz-range-track{width:100%;height:1px;cursor:pointer;background:transparent;}
/* END-widget-vote */

/* INI-box */
.box{}
.box + .box{margin-top:10px;}
.box + .btn-group{margin-top:10px;}
.btn-group + .box{margin-top:10px;}
/* END-box */
