*{font-family:'Open Sans',sans-serif;font-size:1rem;margin:0;padding:0;box-sizing:border-box;}
html{font-size:80%;}
body{top:0;left:0;width:100%;margin:0;padding:0;color:#9e9e9e;font-size:10px;}
button::-moz-focus-inner,
select::-moz-focus-inner{border:0;padding:0;}
input[type=range]::-moz-focus-outer{border:0;}
a{color:#7f99ca;text-decoration:none;}
a:hover{color:#8cb8e8;border-bottom:0;}
ul{list-style:none;}

.hidden.hidden.hidden{display:none;}
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.nowrap{white-space:nowrap;}
.break{word-break:break-all;}
.inline-block{display:inline-block;}

body > * > .container{width:1000px;margin:auto;}
body > header{background:linear-gradient(to top,#dddddd 0,#dddddd .9px,#fafbfc 1px);}
body > main{padding-top:20px;}

/* INI-node */
.node{}
.node h1{font-size:22px;padding-bottom:4px;}
.node h2{font-size:20px;padding-bottom:2px;}
.node h2 > *{font-size:inherit;color:inherit;}
.node p{color:#777;}
.node header{padding-bottom:20px;}
.node header > h2{padding:0;}
.node .image{display:inline-block;vertical-align:top;}
.node .image > img,.node .image > a,.node .image > a > img{display:block;}
.node .image > i{display:block;background:#ff8a66;color:white;text-align:center;font-style:normal;}
.node .wrapper{display:inline-block;vertical-align:top;}
.node .image + .wrapper{margin-left:10px;}
.node .image.s32  + .wrapper{width:calc(100% - 32px - 20px);}
.node .image.s48  + .wrapper{width:calc(100% - 48px - 20px);}
.node .image.s64  + .wrapper{width:calc(100% - 64px - 20px);}
.node .image.s80  + .wrapper{width:calc(100% - 80px - 20px);}
.node .image.s120 + .wrapper{width:calc(100% - 120px - 20px);}
.node .image.s32  img{width:32px;}
.node .image.s48  img{width:48px;}
.node .image.s64  img{width:64px;}
.node .image.s80  img{width:80px;}
.node .image.s120 img{width:120px;}
.node .image.s16  i{width:16px;height:16px;line-height:16px;font-size:1em;}
.node .image.s32  i{width:32px;height:32px;line-height:32px;font-size:1.3em;}
.node .image.s48  i{width:48px;height:48px;line-height:48px;font-size:2.6em;}
.node .image.s64  i{width:64px;height:64px;line-height:64px;font-size:3em;}
.node .image.s120 i{width:120px;height:120px;line-height:120px;font-size:1em;}
.node .image.s120 .image-margin{padding:10px;}
.node .image.s120 .image-margin img{width:100px;}
.node .description{margin-bottom:10px;line-height:1.5;}
.node .description p + p{margin-top:20px;}
.node .description img{max-width:100%;}
.node + .node{margin-top:20px;}
@media(max-width:600px){
	.node .image.s120{display:block;margin:0 10px;width:calc(100% - 20px) !important;text-align:center;}
	.node .image.s120 + .wrapper{display:block;margin:0 10px;width:calc(100% - 20px) !important;text-align:center;}
}
@media(max-width:390px){
	.node .image.s64{display:block;margin:auto;margin-bottom:8px;height:64px;width:64px;overflow:hidden;border-radius:50%;}
	.node .image.s64 + .wrapper{display:block;margin:0;width:100%;text-align:center;}
	.node .image.s64 + .wrapper .btn-wrapper{display:table;table-layout:fixed;width:100%;}
	.node .image.s64 + .wrapper .btn-wrapper > .btn-group{display:table-row;}
	.node .image.s64 + .wrapper .btn-wrapper > .btn-group > .btn{display:table-cell;text-align:center;}
}
/* END-node */

.block{position:relative;}
.block > .image{position:absolute;}
.block > .image > img{display:block;border-radius:4px;}
.block > .image > .glow{position:absolute;width:100%;height:100%;border:1px solid rgba(125,125,125,.4);border-top:1px solid rgba(255,255,255,.4);border-bottom:1px solid rgba(0,0,0,.4);border-radius:4px;}
.block > .wrapper{margin-left:64px;border:1px solid #ddd;border-radius:4px;}
.block .block-header{background:#f7f7f7;border-bottom:1px solid #ddd;padding:2px 8px;border-top-left-radius:4px;border-top-right-radius:4px;}
.block .block-header .tabs{position:relative;top:3px;}
.block .block-content{padding:10px;color:#333;font-size:14px;}
.block .block-content *{font-size:14px;}
.block .block-content form .btn-group:last-child{margin-top:14px;}
.block + .block{margin-top:40px;}

/* INI-Two column */
.two-column{font-size:0;}
.two-column > section{display:inline-block;width:50%;vertical-align:top;}
.two-column > section:first-child{padding-right:5px;}
.two-column > section:last-child{padding-left:5px;}
.two-column > .column{display:inline-block;width:50%;vertical-align:top;}
.two-column > .column:first-child{padding-right:5px;}
.two-column > .column:last-child{padding-left:5px;}
@media(max-width:820px){
	.two-column > section{display:block;width:100%;padding-right:0;padding-left:0;}
	.two-column > .column{display:block;width:100%;padding-right:0;padding-left:0;}
	.two-column > .column:first-child{padding-right:0px;}
	.two-column > .column:last-child{padding-left:0px;}
}
/* END-Two column */

.textarea{border:1px solid #ccc;border-radius:4px;overflow:hidden;}
.textarea textarea{display:block;border:0;width:100%;padding:10px;background:#fafafa;box-shadow:inset 0 0 2px rgba(0,0,0,.2);}

.block-warning{background:#fffecc;padding:10px;border-radius:4px;}
.block-warning h3{color:#666;}


/* INI-buttons */
.btn{position:relative;display:inline-block;font-size:13px !important;line-height:15px !important;border:1px solid #9f9891;padding:2px 10px;border-radius:3px;color:#555 !important;cursor:default;box-shadow:0 0 2px rgba(0,0,0,.1);outline:0;background:linear-gradient(to bottom,#fefdfc 1px,#f8f5f4 50%,#f5f1f0 50%,#ece8e5);}
.btn:hover{text-decoration:none;color:#555 !important;}
.btn:active,.btn.active{background:linear-gradient(to bottom,#d3cbc1,#d3cbc1 1px,#d8d1c8 1px,#d8d1c8 2px,#ddd7ce 2px,#e2dad3 50%,#dad1ca 50%,#d3cac1);}
.btn.mini{padding:0 6px 0 6px;font-size:11px !important;}
.btn.disabled{color:#aaa !important;}
.btn.disabled:active,.btn.disabled.active{background:linear-gradient(to bottom,#fefdfc 1px,#f8f5f4 50%,#f5f1f0 50%,#ece8e5);}
.btn-group{font-size:0 !important;}
.btn-group.right{text-align:right;}
.btn-group .btn{border-radius:0;}
.btn-group .btn + .btn{border-left:0;}
.btn-group .btn:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.btn-group .btn:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px;}
input[type="text"],input[type="password"]{width:220px;height:20px;line-height:20px;color:#4c4c4c;padding:0 4px;font-size:12px;border:1px solid #a5a5a5;border-bottom:1px solid #b9b9b9;border-top:1px solid #929292;position:relative;border-radius:3px;box-shadow:inset 0 1px 4px rgba(66,66,66,.2),0 1px 0 rgba(255,255,255,.4);}
input[type="text"]:focus,input[type="password"]:focus{border:1px solid #cd5728;box-shadow:inset 0 0 2px rgba(205,87,40,.6),0 1px 0 rgba(255,255,255,.4);}
/* END-buttons */
/* INI-dropdown */
.dropdown-menu{display:none;position:absolute;width:400px;background:white;border:1px solid #aaa;z-index:100;border-radius:3px;box-shadow:0 0 2px rgba(0,0,0,.3);}
.dropdown-menu > li form > a{background:transparent;border:0;display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:20px;color:rgb(51,51,51);white-space:nowrap;text-align:left;font-size:12px;font-family:Arial !important;}
.dropdown-menu > li form > a:hover, .dropdown-menu > li form > a:focus{color:#fff;text-decoration:none;background-color:rgb(0,129,194);background-image:linear-gradient(to bottom,rgb(0,136,204),rgb(0,119,179));background-repeat:repeat-x;}
.dropdown-menu.padded{padding:10px;}
.dropdown-menu.padded .calendar{margin:20px 0;}
.dropdown-menu p{font-size:11px;color:#999;}
.dropdown-menu p + form{margin-top:8px;}
.dropdown-menu p + .btn-group{margin-top:8px;}
/* END-dropdown */
/* INI-tabs */
.tabs{position:relative;font-size:0;/*border-bottom:1px solid #ddd;*/}
.tabs::before{position:absolute;bottom:0;width:100%;border-bottom:1px solid #ddd;content:"";}
.tabs .tab{display:inline-block;position:relative;font-size:13px;cursor:pointer;}
.tabs .tab > a,
.tabs .tab > .label{display:block;padding:9px 4px 8px 4px;margin:0;}
.tabs .tab.active{background:white;border:1px solid #ddd;border-bottom:0;color:#333;border-top:0;}
.tabs .tab.active::before{position:absolute;border-top:2px solid #ff6e1f;width:calc(100% + 2px);content:"";top:-2px;left:-1px;}
.tabs .tab.active > a,.tabs .tab.active > .label{padding:9px 14px 8px 14px;}
.tabs .tab + .tab{margin-left:8px;}
.tabs .tab > .label > span > .label{padding-top:0;padding-bottom:0;}
.tabs + .wrapper{margin-top:20px;}
.tabs + section{border-top:0px;}
.tabs + .two-column > .column > section:first-child{border-top:0px;}
.tabs .tab.disabled{color:#ccc;cursor:not-allowed;}
.widget-tabs{}
.widget-tabs ul.tabs{white-space:nowrap;max-width:100%;}
.widget-tabs ul.tabs > .tab{}
.widget-tabs .tabs-content{}
.widget-tabs .tabs-content > div{display:none;}
.widget-tabs .tabs-content > div > div.textarea > textarea{max-width:100%;width:100%;min-height:250px;}
.widget-tabs .tabs-content > div.active{display:block;padding:6px;background:white;border:1px solid #ddd;border-top:0;}
.widget-tabs .tabs-content > div.active > h4{margin-top:6px;}
.widget-tabs + .btn-group{margin-top:10px;}
/* END-tabs */

/* INI-widget-list */
.widget-list{margin:10px 0;}
.widget-list > ul.table{margin:0;}
.widget-list > .node{padding:6px;position:relative;}
.widget-list > .node + .node{margin:0;}
.widget-list > .item{}
.widget-list > .item.active{background:#7f99ca;color:white;}
.widget-list > .item.selected::before{position:absolute;width:14px;height:14px;top:calc( 50% - 7px );left:6px;font-family:FontAwesome;font-size:14px;content:"\f111";}
.widget-list > .item.checked::before{position:absolute;width:14px;height:14px;top:calc( 50% - 7px );left:6px;font-family:FontAwesome;font-size:14px;content:"\f00c";}
.widget-list .item input[type="checkbox"],
.widget-list .item input[type="radio"]{display:none;}
/* END-widget-list */
/* INI-widget-scroll */
.widget-scroll{position:relative;}
.widget-scroll > .widget-scroll-panel{display:inline-block;padding-right:10px;}
.widget-scroll > .widget-scroll-bar{position:absolute;top:0;right:0;background:rgba(170,170,170,.4);width:6px;height:50%;border-radius:2px;}
/* END-widget-scroll */
/* INI-widget-vote */
.widget-vote{position:relative;height:20px;}
.widget-vote progress{display:inline-block;position:absolute;height:7px;border:0;width:100%;font-size:0;margin-top:2px;}
.widget-vote progress::-moz-progress-bar{border-radius:5px/50%;height:100%;background:#f2ae43;}
.widget-vote progress[value="0"]::-moz-progress-bar{border:0;}
.widget-vote progress::-webkit-progress-bar{display:inline-block;position:relative;width:100%;height:100%;border:0;border-radius:2px/50%;background:#f4f4f4;}
.widget-vote progress::-webkit-progress-value{border-radius:2px/50%;height:100%;background:#f2ae43;}
.widget-vote progress[value="0"]::-webkit-progress-bar{border:0;}
.widget-vote input[type="range"]{display:inline-block;position:absolute;-webkit-appearance:none;width:100%;height:10px;background:transparent;outline:0;}
.widget-vote input[type="range"]::-webkit-slider-thumb{-webkit-appearance:none;border:3px solid #fff;height:10px;width:10px;border-radius:50%;background:#bdbdbd;cursor:pointer;box-shadow:0 0 0 2px #f2ae43;}
.widget-vote input[type="range"]::-webkit-slider-runnable-track{-webkit-appearance:none;width:100%;height:1px;margin-bottom:10px;cursor:pointer;background:transparent;}
.widget-vote input[type="range"]::-moz-range-thumb{height:2px;width:2px;border:0;border-radius:50%;background:#bdbdbd;cursor:pointer;box-shadow:0 0 0 1px #bdbdbd,0 0 0 4px #fff,0 0 0 6px #f2ae43;}
.widget-vote input[type="range"]::-moz-range-track{width:100%;height:1px;cursor:pointer;background:transparent;}
/* END-widget-vote */

/* INI-box */
.box{}
.box + .box{margin-top:10px;}
.box + .btn-group{margin-top:10px;}
.btn-group + .box{margin-top:10px;}
/* END-box */
