*{font-family:'Open Sans',sans-serif;font-size:13px;margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
body{top:0;left:0;width:100%;margin:0;padding:0;color:#9e9e9e;font-size:10px;}
button::-moz-focus-inner{border:0;padding:0;}
a{color:#7f99ca;text-decoration:none;}
a:hover{color:#8cb8e8;border-bottom:0;}
ul{list-style:none;}

body > .wrapper{width:1000px;margin:auto;}

.header{margin-bottom:20px;}
.header a img{margin:20px 0;}
.body{font-size:0;}
.body > .wrapper{width:700px;}
.body > .side{width:300px;}

.block{position:relative;}
.block > .image{position:absolute;}
.block > .image > img{display:block;border-radius:4px;}
.block > .image > .glow{position:absolute;width:100%;height:100%;border:1px solid rgba(125,125,125,.4);border-top:1px solid rgba(255,255,255,.4);border-bottom:1px solid rgba(0,0,0,.4);border-radius:4px;}
.block > .wrapper{margin-left:64px;border:1px solid #ddd;border-radius:4px;}
.block .block-header{background:#f7f7f7;border-bottom:1px solid #ddd;padding:2px 8px;border-top-left-radius:4px;border-top-right-radius:4px;}
.block .block-header .tabs{position:relative;top:3px;}
.block .block-content{padding:10px;color:#333;font-size:14px;}
.block .block-content *{font-size:14px;}
.block .block-content form .btn-group:last-child{margin-top:14px;}
.block + .block{margin-top:40px;}

.textarea{border:1px solid #ccc;border-radius:4px;overflow:hidden;}
.textarea textarea{display:block;border:0;width:100%;padding:10px;background:#fafafa;box-shadow:inset 0 0 2px rgba(0,0,0,.2);}

.block-warning{background:#fffecc;padding:10px;border-radius:4px;}
.block-warning h3{color:#666;}


/* INI-buttons */
.btn{position:relative;display:inline-block;font-size:13px !important;line-height:15px !important;border:1px solid #9f9891;padding:2px 10px;border-radius:3px;color:#555 !important;cursor:default;box-shadow:0 0 2px rgba(0,0,0,.1);outline:0;background:linear-gradient(to bottom,#fefdfc 1px,#f8f5f4 50%,#f5f1f0 50%,#ece8e5);}
.btn:hover{text-decoration:none;color:#555 !important;}
.btn:active,.btn.active{background:linear-gradient(to bottom,#d3cbc1,#d3cbc1 1px,#d8d1c8 1px,#d8d1c8 2px,#ddd7ce 2px,#e2dad3 50%,#dad1ca 50%,#d3cac1);}
.btn.mini{padding:0 6px 0 6px;font-size:11px !important;}
.btn.disabled{color:#aaa !important;}
.btn.disabled:active,.btn.disabled.active{background:linear-gradient(to bottom,#fefdfc 1px,#f8f5f4 50%,#f5f1f0 50%,#ece8e5);}
.btn-group{font-size:0 !important;}
.btn-group.right{text-align:right;}
.btn-group .btn{border-radius:0;}
.btn-group .btn + .btn{border-left:0;}
.btn-group .btn:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.btn-group .btn:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px;}
input[type="text"],input[type="password"]{width:220px;height:20px;line-height:20px;color:#4c4c4c;padding:0 4px;font-size:12px;border:1px solid #a5a5a5;border-bottom:1px solid #b9b9b9;border-top:1px solid #929292;position:relative;border-radius:3px;box-shadow:inset 0 1px 4px rgba(66,66,66,.2),0 1px 0 rgba(255,255,255,.4);}
input[type="text"]:focus,input[type="password"]:focus{border:1px solid #cd5728;box-shadow:inset 0 0 2px rgba(205,87,40,.6),0 1px 0 rgba(255,255,255,.4);}
/* END-buttons */
/* INI-dropdown */
.dropdown-menu{display:none;position:absolute;width:400px;background:white;border:1px solid #aaa;z-index:100;border-radius:3px;box-shadow:0 0 2px rgba(0,0,0,.3);}
.dropdown-menu > li form > a{background:transparent;border:0;display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:20px;color:rgb(51,51,51);white-space:nowrap;text-align:left;font-size:12px;font-family:Arial !important;}
.dropdown-menu > li form > a:hover, .dropdown-menu > li form > a:focus{color:#fff;text-decoration:none;background-color:rgb(0,129,194);background-image:linear-gradient(to bottom,rgb(0,136,204),rgb(0,119,179));background-repeat:repeat-x;}
.dropdown-menu.padded{padding:10px;}
.dropdown-menu.padded .calendar{margin:20px 0;}
.dropdown-menu p{font-size:11px;color:#999;}
.dropdown-menu p + form{margin-top:8px;}
.dropdown-menu p + .btn-group{margin-top:8px;}
/* END-dropdown */
/* INI-tabs */
.tabs{position:relative;font-size:0;border-bottom:1px solid #ddd;}
.tabs .tab{display:inline-block;position:relative;top:1px;padding:9px 4px 8px 4px;font-size:13px;border-top-left-radius:4px;border-top-right-radius:4px;cursor:pointer;}
.tabs .tab.active{background:white;padding:9px 14px 8px 14px;border:1px solid #ddd;border-bottom:1px solid white;color:#333;}
.tabs .tab + .tab{margin-left:12px;}
.tabs + .wrapper{margin-top:20px;}
/* END-tabs */

